<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/listBooks/edit/<%= book.id %> ">
        <input type="text" name="loanerName" value="<%= book.bookName %>"></input><br>
        <input type="text" name="author" value="<%= book.author %>"></input><br>
        <input type="text" name="theme" value="<%= book.theme %>"></input><br>
        <input type="text" name="year" value="<%= book.year %>"></input><br>
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>