<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <a href="/addBook">Adicionar Livro</a><br>
    <a href="/addLoaner">Adicionar Leitor</a><br>
    <a href="/listBooks">Listar Livros</a><br>
    <a href="/loanedBooks">Listar Livros Emprestados</a><br>
    <a href="/loaners">Listar Leitores</a><br>
    <a href="/loanBook">Emprestar Livro</a><br>

    <% bookList.forEach((book) => { %> 
        Nome do Livro: <%= book.bookName %><br> 
        Nome do Autor: <%= book.author %><br> 
        Tema do Livro: <%= book.theme %><br> 
        Ano de Lançamento: <%= book.year %><br>
        <form method="get" action="/listBooks/edit/<%= book.id %>">
            <button type="submit">Alterar Livro</button>
        </form>
            
        <form method="post" action="/listBooks/delete/<%= book.id %>">
            <button type="submit">Deletar Livro</button>
        </form>
        <hr>
    <% }) %> 
</body>
</html>